body{
    font-family:sans-serif ;
    line-height: 1.5;
    background-color: #f1f1f1;
    color: #333333;
    width: 980px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color: #272525;
}
.theTitleOfTheMainPage{
    text-align: center;
    font-size: 25px;
    color: #272525;
  }

li{
    font-size: 20px;
    font-weight: bold;

}

#paragraph{
    font-weight: bold;
    font-size: 20px;

}

.texnology{
    color: #bb3b3b;
}

.special{
    color: #9b4c03;
}

.dopinfo{
    color: #067f8f;
}